*.class
bBUFFERS
bCONTROL
bBACKUP
*.tmp
javadep
fixcreate
UNKNOWN
filesystem.attributes
bin.*
ir.out
xxx*
hs_err_pid*
update.out
*.xjs
.snapshot
.snapshots
*.o
*.so
core*
*.out
*.old
*.model
public
#*
eclipsepath
*.lcl
*.orig
tags
*~
.*~
*.pdf
*.ps
*.log
node_modules
*.ckpt
build.properties
