!!! transitional
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title UPOD CONTROL PAGE
    style(type='text/css')
      .header {
      background-color: #FF9;
      height: 40px;
      width: 98%;
      vertical-align: middle;
      text-align:center;
      font-family: sans-serif;
      margin-left:auto;
      margin-right:auto;
      min-width:675px;
      }
      .headertitle {
      font-size: 36px;
      text-align: center;
      vertical-align: middle;
      }
      .body {
      min-width:675px;
      width:98%;
      height:400px;
      margin-left:auto;
      margin-right:auto;
      }
      .navigation {
      background-color: #FF9;
      height: 100%;
      width: 20%;
      float: left;
      text-align:center;
      }
      .navigation li {
      font-size: 24px;
      list-style-type: none;
      }
      .main {
      background-color: #CFF;
      height: 400px;
      width:80%;
      float:right;
      text-align:center;
      }
      table {
      border-style:solid;
      border-width:2px;
      border-spacing:0px;
      text-align:left;
      }
      .sensortable {
      width: 80%;
      margin-left:auto;
      margin-right:auto;
      }
      .entitytable {
      width: 80%;
      margin-left:auto;
      margin-right:auto;
      }
      .mainheader {
      font-size: large;
      font-weight: bold;
      text-align: center;
      font-family:sans-serif;
      }
      button {
      width:120px;
      height:40px;
      font-family:'times new roman';
      font-size:19px;
      text-align:left;
      margin-left:5px;
      margin-right:5px;
      margin-top:2px;
      }
      .top{
      margin-top:5px;
      }
  body
    .header
      span.headertitle UPOD Control Page
    .body
      .navigation
        button.top Status
        br
        button Command
        br
        button Rules
        br
        button Rule Editor
      .main
        p.mainheader Devices
        table.sensortable(border='1')
          tr
            th(scope='col', width='10%') NAME
            th(scope='col', width='10%') STATE
            th(scope='col') DESCRIPTION
          each device in devices
            tr
              td #{device.getName()}
              td #{device.getCurrentState()}
              td #{device.getDescription()}

